<div class="container-fluid"> <br>
	<div class="row">
		<ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="">Revista</a>
      </li>____________   
    </ul>
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Marcas</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="carruselmarcas.html">Adidas</a>
          <a class="dropdown-item" href="carruselmarcas1.html">Nike</a>
          <a class="dropdown-item" href="carruselmarcas2.html">Vans</a></div>
      </li>____________   
    </ul>
    <ul class="nav nav-pills">    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Ciudades</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="">Caracas</a>
          <a class="dropdown-item" href="#">Aragua</a>
          <a class="dropdown-item" href="#">Valencia</a></div>
      </li>____________   
    </ul>
    <ul class="nav nav-pills">    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Sedes</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="">Centro comercial Sambil (Caracas)</a>
          <a class="dropdown-item" href="#">Centro comercial Coche (Aragua)</a>
          <a class="dropdown-item" href="#">Centro comercial Naguanagua (Valencia)</a></div>
      </li>____________    
    </ul>
   <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Opinion</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="">¿Quienes somos?</a>
          <a class="dropdown-item" href="comentario.html">Deja tu sugerencia</a>
          <a class="dropdown-item" href="#">Referidos</a></div>
      </li>____________   
    </ul>
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Metodos de pago</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="">Dolares</a>
          <a class="dropdown-item" href="#">Zelle</a>
          <a class="dropdown-item" href="#">BS</a></div>
      </li>____________   
    </ul>
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Contacto</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="">04169301830</a>
          <a class="dropdown-item" href="#">Instagram @KrokosVen</a>
          <a class="dropdown-item" href="#">Facebook Krokos</a></div>
      </li>    
    </ul>
</div>