<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/adidas2.png" class="d-block w-100" alt="..."width="620px" height="450px" title="Los mejores Adidas a lso precios mas economicos">
    </div>
    <div class="carousel-item">
      <img src="img/nike2.png" class="d-block w-100" alt="..."width="620px" height="450px" title="Desde los miticos Air Force hasta otros mas economicos al alcance de tu bolsillo">
    </div>
    <div class="carousel-item">
      <img src="img/vans.png" class="d-block w-100" alt="..."width="620px" height="450px" title="Los vans nunca pasaran de moda">     
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>